.skills {
  height: 100vh;
  background-color: #5fffa0;
  display: flex;
  justify-content: center;
}
.container {
  border: 1px solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.skillWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.skill {
  width: 300px;
  background-color: #ffd2b4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  height: 80px;
  width: 80px;
  background-color: #ff6cc8;
}
.description {
  text-align: center;
}

@media screen and (max-width: 1128px) {
  .skillWrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1128px) {
  .skill {
    width: 500px;
  }
}
@media screen and (max-width: 630px) {
  .skill {
    width: 100%;
  }
}